<div class="tail">
    <div class="tail-warp">
        <div class="tail-img">
            <img src="__STATIC__img/新职业培训网校.png" />
        </div>
        <div class="tail-title">
            <volist name="ar_cate" id="vo">
            <dl>
                <dt><a href="">{$vo.name}</a></dt>
                <p>|</p>
            </dl>
            </volist>
            <div class="tail-right">
                <ul>
                    <li>
                        <img src="{:attach($qr, 'logo')}" />
                        <p>微信公众号</p>
                    </li>
                    <li>
                        <img src="__STATIC__img/wewm.png" />
                        <p>手机网站</p>
                    </li>
                </ul>

            </div>
            <div class="tail-tail">
                <p>地址：{$address}</p>
                <p>电话：{$tel}    {$mobile}</p>
                <p>邮编：330029  {$title}   {$site_icp} </p>
                <p>技术支持：嘉瑞科技</p>
            </div>





        </div>

    </div>
</div>