<include file="Public:header" />
<div class="pad_lr_10">
    <div class="J_tablelist table_list" data-acturi="{:U('League/ajax_edit')}">
        <table width="100%" cellspacing="0">
            <thead>
            <tr>
                <th width="40"><input type="checkbox" name="checkall" class="J_checkall"></th>
                <th width="30">ID</th>
                <th width="58">姓名</th>
                <th width="10">年龄</th>
                <th width="10">性别</th>
                <th>地址</th>
                <th width="20">电话</th>
                <th>药物过敏史</th>
                <th>咨询专家</th>
                <th>回复邮箱</th>
                <th>病情介绍</th>
                <th  width="80">咨询日期</th>
                <th width="20">{:L('status')}</th>
                <th width="60">{:L('operations_manage')}</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="val" >
                <tr>
                    <td align="center"><input type="checkbox" class="J_checkitem" value="{$val.id}"></td>
                    <td align="center">{$val.id}</td>
                    <td align="center">{$val.username}</td>
                    <td align="center">{$val.age}</td>
                    <td align="center">{$val.sex}</td>
                    <td align="center">{$val.address}</td>
                    <td align="center">{$val.mobile}</td>
                    <td align="center">{$val.allergy}</td>
                    <td align="center">{$val.expert}</td>
                    <td align="center">{$val.email}</td>
                    <td align="center">{$val.introduce}</td>
                    <td align="center">{$val.add_time|date='Y-m-d H:i:s',###}</td>
                    <td align="center">
                        <img data-tdtype="toggle" data-field="status" data-id="{$val.id}" data-value="{$val.status}" src="__PUBLIC_ADMIN__/images/toggle_<if condition="$val.status eq 0">disabled<else/>enabled</if>.gif" />
                    </td>
                    <td align="center">
                        <a href="javascript:;" class="J_confirmurl" data-uri="{:U('League/delete', array('id'=>$val['id']))}" data-msg="{:sprintf(L('confirm_delete_one'),$val['username'])}">{:L('delete')}</a>

                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <div class="btn_wrap_fixed">
        <label class="select_all mr10"><input type="checkbox" name="checkall" class="J_checkall">{:L('select_all')}/{:L('cancel')}</label>
        <input type="button" class="btn" data-tdtype="batch_action" data-acttype="ajax" data-uri="{:U('League/delete')}" data-name="id" data-msg="{:L('confirm_delete')}" value="{:L('delete')}" />
        <div id="pages">{$page}</div>
    </div>
</div>
<include file="Public:footer" />
</body>
</html>